body {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f8f8f8;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #333;
}

.gift-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.gift-box {
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 100%;
    max-width: 400px;
}

h2 {
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: 600;
    color: #333;
}

input[type="tel"],
input[type="text"] {
    width: 100%;
    padding: 14px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
}

button {
    width: 100%;
    padding: 14px;
    margin-top: 10px;
    background-color: #fe2c55;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #e52648;
}

#successMessage {
    margin-top: 20px;
}

#successMessage h3 {
    color: #28a745;
}

#successMessage p {
    font-size: 16px;
}
